<html xmlns:th="https://www.thymeleaf.org/">
<head>
</head>

<body>
	<div th:insert="fragments/commonui :: userheader"></div>
	<div th:insert="fragments/commonui :: usermenu"></div>
	<div th:insert="fragments/commonui :: userfooter"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h3>SERVICE ISSUE(CODE:404)</h3>
			</div>

			<div class="card-body">
				<b class="text-danger">UNABLE TO PROCESS YOUR REQUEST! CHECK IT AGAIN</b>
			</div>
			
		</div> <!-- card end -->
	</div>
	<!-- container end -->
</body>
</html>